<div class="safety">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-12 col-lg-12">
        <div class="pages">
          <a class="chip-icon-btn">Avoiding Scams</a>
          <a class="chip-icon-btn">Prohibited</a>
          <a class="chip-icon-btn">Recalls</a>
          <a class="chip-icon-btn">Forum</a>
        </div>
      </div>

      <div class="col-12">
        <div class="safety-inner">
          <h3 class="pt-5">Personal Safety</h3>
          <p class="pt-2">The overwhelming majority of craigslist users are trustworthy and well-meaning.</p>
          <p class="pt-2">With billions of human interactions, the incidence of violent crime related to craigslist is extremely low.</p>
          <div class="pt-2">
            <a href="https://www.bjs.gov/"> Millions of violent crimes occur in the U.S. each year: </a> <span>10,000+ homicides, 600,000+ robberies, 5 million assaults. </span>
          </div>
          <p class="pt-2">Vanishingly few of these are craigslist-related.</p>
          <p class="pt-2">Nevertheless, please take the same common sense precautions online as you would offline.</p>
          <p class="pt-2">When meeting someone for the first time, please remember to:</p>
          <ul class="pt-2">
            <li>Insist on a public meeting place like a cafe, bank, or shopping center.</li>
            <li>Do not meet in a secluded place, or invite strangers into your home.</li>
            <li>Be especially careful buying/selling high value items.</li>
            <li>Tell a friend or family member where you're going.</li>
            <li>Take your cell phone along if you have one.</li>
            <li>Consider having a friend accompany you.</li>
            <li>Trust your instincts.</li>
          </ul>
          <p class="pt-2">Taking these simple precautions helps make craigslist safer for everyone.</p>
          <p class="pt-2">For more information about personal safety online, check out these resources:</p>
          <ul>
            <li><a href="http://www.staysafeonline.org/">http://www.staysafeonline.org/</a></li>
            <li><a href="http://www.onguardonline.gov/">http://www.onguardonline.gov/</a></li>
            <li><a href="https://getsafeonline.org/">http://getsafeonline.org</a></li>
            <li><a href="https://www.wiredsafety.com/">http://wiredsafety.org</a></li>
          </ul>
          <p class="pt-2">Please review our <a href="https://www.craigslist.org/about/scams">avoiding scams</a> page as well.</p>
        </div>
      </div>

    </div>
  </div>
</div>
