@import '/src/styles.scss';

.forgot {
	padding: 20px 0;
	h5 {
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		padding-top: 5%;
	}
	p {
		text-align: center;
		font-size: 14px;
		color: $lightDefault;
		padding-top: 10px;
	}
}

@media screen and (max-width: 600px)
{
  .forgot{
    .rounded-btn{
      width: 100%;
      height: auto;
    }
  }
}
