<!-- <a class="back-btn" (click)="back()">
  <i class="fas fa-chevron-left"></i>
  <span class="pl-2">Back</span>
</a> -->

<div class="signup">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-12 col-md-8 col-lg-4">
          <form class="pt-3" [formGroup]="programForm">
            <div class="form-group">
                <label>*First Name</label>
                <input type="text" class="form-control" formControlName="firstname" placeholder="First Name">
            </div>
            <div class="form-group">
              <label>*Last Name</label>
              <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label>*Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>*Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label>*Confirm Password</label>
              <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
            </div>

              <button class="rounded-btn mt-4">
                Create Account
              </button>
          </form>
          <!-- <div class="conditions">
            <p>By signing up you accept the <a routerLink="/profile/privacy-policy">Privacy Policy</a> and <a routerLink="/auth/terms-conditions">Terms & Conditions</a></p>
          </div> -->
          <div class="login-account text-center">
            <span>Already have an Account</span>
            <a routerLink="/auth/login">
              Login
            </a>
          </div>
        </div>

      </div>
    </div>
</div>
