<div class="scam">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-12">
        <div class="pages">
          <a class="chip-icon-btn">Personal Safety</a>
          <a class="chip-icon-btn">Prohibited</a>
          <a class="chip-icon-btn">Recalls</a>
          <a class="chip-icon-btn">Forum</a>
        </div>
      </div>

      <div class="col-12">
        <div class="description">
          <h3>Avoiding Scams</h3>

          <h6>Deal locally, face-to-face <span> -----follow this one rule and avoid 99% of scam attempts.</span></h6>
          <ul class="pt-3">
            <li><a>Do not provide payment to anyone you have not met in person.</a></li>
            <li><a>Beware offers involving shipping</a> <span> - deal with locals you can meet in person.</span></li>
            <li><a>Never wire funds (e.g. Western Union)</a> <span> - anyone who asks you to is a scammer</span></li>
            <li><a>Don't accept cashier/certified checks or money orders</a> <span> - banks cash fakes, then hold you responsible.</span></li>
            <li><a>Transactions are between users only</a> <span>, no third party provides a "guarantee".</span></li>
            <li><a>Never give out financial info</a> <span> (bank account, social security, paypal account, etc).</span></li>
            <li><a>Do not rent or purchase sight-unseen</a> <span> ----- that amazing "deal" may not exist.</span></li>
            <li><a>Refuse background/credit checks</a> <span> - until you have met landlord/employer in person.</span></li>
            <li><a>"craigslist voicemails"</a> <span> - Any message asking you to access or check "craigslist voicemails" or "craigslist voice messages" is fraudulent -</span> <a> no such service exists.</a></li>
          </ul>

          <h6>Who should I notify about fraud or scam attempts?</h6>
          <h6>United States</h6>
          <ul class="pt-3">
            <li><a href="https://www.ic3.gov/">Internet Fraud Complaint Center</a></li>
            <li><a href="https://reportfraud.ftc.gov/">FTC complaint form <span>and hotline: 877-FTC-HELP (877-382-4357)</span></a></li>
            <li><a href="https://www.militaryconsumer.gov/report-scam">Consumer Sentinel/Military (for armed service members and families)</a></li>
            <li><a href="https://www.siia.net/piracy/report/report.asp">SIIA Software and Content Piracy reporting</a></li>
            <li><a href="https://www.ohioattorneygeneral.gov/complaintsfromcraigslist">Ohio Attorney General Consumer Complaints</a></li>
            <li><a href="https://ag.ny.gov/investor-protection/avoid-online-investment-fraud">New York Attorney General, Avoid Online Investment Fraud</a></li>
          </ul>

          <h6>Canada</h6>
          <ul class="pt-3">
            <li><a href="https://antifraudcentre-centreantifraude.ca/">Canadian Anti-Fraud Centre <span> or 888-495-8501 (toll-free)</span></a></li>
          </ul>
          <p class="pt-2">If you are defrauded by someone you met in person, contact your local police department.</p>
          <p class="pt-2">If you suspect that a craigslist post may be connected to a scam, please <a href="https://berlin.craigslist.org/contact">send us the details.</a></p>

          <h6>Recognizing scams</h6>
          <p class="pt-2">Most scams attempts involve one or more of the following:</p>
          <ul class="pt-3">
            <li>Email or text from someone that is not local to your area.</li>
            <li>Vague initial inquiry, e.g. asking about "the item." Poor grammar/spelling.</li>
            <li>Western Union, Money Gram, cashier check, money order, Paypal, Zelle, shipping, escrow service, or a "guarantee."</li>
            <li>Inability or refusal to meet face-to-face to complete the transaction.</li>
          </ul>

          <h6>Examples of Scams</h6>
          <p class="pt-2">1. Someone <a>claims your</a> transaction is guaranteed, <a>that a buyer/seller is officially certified, OR that a third party of any kind will handle or provide protection</a> for a payment:</p>
          <ul class="pt-3">
            <li>These claims are fraudulent, as transactions are between users only.</li>
            <li>The scammer will often send an official looking (but fake) email that appears to come from craigslist or another third party, offering a guarantee, certifying a seller, or pretending to handle payments.</li>
          </ul>

          <h6>2. Distant person offers a genuine-looking (but fake) cashier's check:</h6>
          <ul class="pt-3">
            <li>You receive an email or text (examples below) offering to buy your item, pay for your services in advance, or rent your apartment, sight unseen and without meeting you in person.</li>
            <li>A cashier's check is offered for your sale item as a deposit for an apartment or for your services.</li>
            <li>Value of cashier's check often far exceeds your item—scammer offers to "trust" you, and asks you to wire the balance via money transfer service.</li>
            <li>Banks will cash fake checks AND THEN HOLD YOU RESPONSIBLE WHEN THE CHECK FAILS TO CLEAR, sometimes including criminal prosecution.</li>
            <li>Scams often pretend to involve a 3rd party (shipping agent, business associate, etc.).</li>
          </ul>

          <h6>3. Someone requests wire service payment via Western Union or MoneyGram:</h6>
          <ul class="pt-3">
            <li>Deal often seems too good to be true, price is too low, or rent is below market, etc.</li>
            <li>Scam "bait" items include apartments, laptops, TVs, cell phones, tickets, other high value items.</li>
            <li>Scammer may (falsely) claim a confirmation code from you is needed before he can withdraw your money.</li>
            <li>Common countries currently include: Nigeria, Romania, UK, Netherlands—but could be anywhere.</li>
            <li>Rental may be local, but owner is "travelling" or "relocating" and needs you to wire money abroad.</li>
            <li>Scammer may pretend to be unable to speak by phone (scammers prefer to operate by text/email).</li>
          </ul>

          <h6>4. Distant person offers to send you a cashier's check or money order and then have you wire money:</h6>
          <ul class="pt-3">
            <li>This is ALWAYS a scam in our experience—the cashier's check is FAKE.</li>
            <li>Sometimes accompanies an offer of merchandise, sometimes not.</li>
            <li>Scammer often asks for your name, address, etc. for printing on the fake check.</li>
            <li>Deal often seems too good to be true.</li>
          </ul>

          <h6>5. Distant seller suggests use of an online escrow service:</h6>
          <ul class="pt-3">
            <li>Most online escrow sites are FRAUDULENT and operated by scammers.</li>
            <li>For more info, do a google search on <a href="https://www.google.com/search?hl=en&q=fake+escrow">"fake escrow"</a> or <a href="https://www.google.com/search?hl=en&q=escrow+fraud">"escrow fraud."</a> </li>
          </ul>

          <h6>6. Distant seller asks for a partial payment upfront, after which they will ship goods:</h6>
          <ul class="pt-3">
            <li>He says he trusts you with the partial payment.</li>
            <li>He may say he has already shipped the goods.</li>
            <li>Deal often sounds too good to be true.</li>
          </ul>

          <h6>7. Foreign company offers you a job receiving payments from customers, then wiring funds:</h6>
          <ul class="pt-3">
            <li>Foreign company may claim it is unable to receive payments from its customers directly.</li>
            <li>You are typically offered a percentage of payments received.</li>
            <li>This kind of "position" may be posted as a job, or offered to you via email.</li>
          </ul>

          <h6>Actual scam emails sent to craigslist users:</h6>
          <p class="pt-3 mini">Hi,</p>
          <p class="pt-2 mini">I am selling this car because my platoon has been sent back to Afganistan and don't want it get old in my backyard. The price is low because I need to sell it before November 16th. It has no damage, no scratches or dents, no hidden defects. It is in immaculate condition, meticulously maintained and hasn't been involved in any accident...I do have the title , clear, under my name. The Denali has 35,000 miles VIN# 1GKEK63U16J138428 . It is still available for sale if interested, price as stated in the ad $4,300. The car is in Baltimore, MD, in case it gets sold I will take care of shipping. Let me know if you are interested, email back. Regards!!!</p>
          <p class="pt-2 mini">First of all I want to thank you for your interest for my car. I sell it at this price($2,980.00 ) because I have been divorced recently. Now the car is in my property and as a woman i don't need it. This car is in excellent working conditions, no scratches, flaws or any kind of damage, slightly used in 100% working and looking conditions and comes with a clear title. From the beginning you have to know that for the payment I request only secure pay, I prefer the payment to be done using eBay services. We will use a safe payment method because I am affiliated at eBay and I have a purchase protection account for $20,000.00 The final price that I want for this car is $2,980.00 including shipping and handling.</p>
          <p class="pt-2 mini">If you are interested in buying it please provide me your full name and address so I can initiate the deal through eBay.</p>
          <p class="pt-2 mini">I will wait your answer very soon.</p>
          <p class="pt-2 mini">Hello,</p>
          <p class="pt-2 mini">I am looking for caring and honest person to watch my 3 years old daughter while I work, during our stay in the state and a friend introduced craiglist.com to me, I was searching on Childcare Babysitter, when your Ad post pumped up as a Childcare and Babysitter, am interested in your service as my babysitter/Childcare.. My Little daughters is (Mellina ) , I would like you to watch over her while i am at work in your Location , I reside in United Kingdom,I will be coming to the States in about two weeks time , Cos I just got a contract with Boss Perfume fashion industry down there, I work as a model and the contract will last for a month, the duration of our service wil be from 10am to 5pm, monday thru friday, I would like to know if she will be taken care of in your childcare centre/Home, or the hotel room where i would be lodging, It's Okay by me, any of this ways.</p>
          <p class="pt-2 mini">My little daughter (Mellina ) is 3 years old, I will be waiting patiently for your email indicating the cost of everything,I mean the price for your service,how long you will be available to take care of her,how much u charge per week. she is just three years old as i have said earlier and i will be glad to update you and make the payment in advance to show you how serious i am. So please get back to me as soon as you can if you will be able to handle her and take very good care of her for me.</p>
          <p class="pt-2 mini">Email me back</p>
          <p class="mini">Your's faithfully.</p>

        </div>
      </div>

    </div>
  </div>
</div>
