<div class="header py-3">
  <div class="container d-flex justify-content-between">
    <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
    <p class="text-capitalize">{{pageTitle}}</p>
    <p class="right"><i class="fas fa-location-arrow"></i></p>
  </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
  <ul>
    <!-- <li><a (click)="toggleMenu()" routerLink="/auth/login">Login</a></li> -->
    <li><a (click)="toggleMenu()" class="logo" routerLink="/homepage">Craigslist</a></li>

    <li><i class="fas fa-user pt-3"></i>
      <a (click)="toggleMenu()" class="create-btn" routerLink="/auth">my account</a>
    </li>
    <li>
      <i class="fas fa-home"></i>
      <a class="create-btn" (click)="toggleMenu()" routerLink="/homepage">Homepage</a>
    </li>
    <li>
      <i class="fas fa-plus"></i>
      <a (click)="toggleMenu()" routerLink="/posting/add-posting" class="create-btn">create a posting</a>
    </li>
    <li class="pt-3">
      <i class="fas fa-plus"></i>
      <a (click)="toggleMenu()" routerLink="/admin/add-posting-category" class="create-btn">create types</a>
    </li>
    <li>
      <i class="fas fa-plus"></i>
      <a (click)="toggleMenu()" routerLink="/admin/posting-category-listing" class="create-btn">types listing</a>
    </li>

    <li class="pt-3"><a (click)="toggleMenu()">event calendar</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/help">help, faq, abuse, legal</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/scam">avoid scams & fraud</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/safety">personal safety tips</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/terms-of-use">terms of use</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/privacy-policy">privacy policy</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/company-about">about craigslist</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/open-source">craigslist open source</a></li>
    <li><a (click)="toggleMenu()" routerLink="/about/best-of-company">Best of craigslist</a></li>

    <div class="bottom-thing">
      <a href="tel:+923337148980"><i class="fas fa-question-circle"></i> Need Help ?</a>
    </div>
  </ul>
</div>

<div class="fade-area" [ngClass]="{'show': fadeSection}" (click)="toggleMenu()"></div>
