<div class="header py-3">
  <div class="container">
      <div class="toggleContainer" (click)="toggleMenu()" [ngClass]="{'change': toggleButton}">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
      </div>
  </div>
</div>

<div class="sidebar side" [ngClass]="{'show': sidebar}">
  <ul>
      <!-- <li><a (click)="toggleMenu()" routerLink="/auth/login">Login</a></li> -->
      <li><a href="#" class="logo">Craigslist</a></li>
      <li><a href="#" class="locate">in</a></li>
      <li><a href="#">create a posting</a></li>
      <li><a href="#">my account</a></li>
      <li><a href="#">event calendar</a></li>
      <li><a href="#">help, faq, abuse, legal</a></li>
      <li><a href="#">avoid scams & fraud</a></li>
      <li><a href="#">personal safety tips</a></li>
      <li><a href="#">terms of use</a></li>
      <li><a href="#">privacy policy</a></li>
      <li><a href="#" class="new">new</a></li>
      <li><a href="#">system status</a></li>
      <li><a href="#">about craigslist</a></li>
      <li><a href="#">craigslist open source</a></li>
      <li><a href="#">craigslist blog</a></li>
      <li><a href="#">best-of-craigslist</a></li>
      <li><a href="#">"craigslist joe"</a></li>
      <li><a href="#">craig newmark </a></li>
      <li><a href="#"></a>philanthropies</li>

      <div class="bottom-thing">
          <a href="tel:+923337148980"><i class="fas fa-question-circle"></i> Need Help ?</a>
      </div>
  </ul>
</div>

<div class="fade-area"></div>
