<div class="posting-detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="print">
          <a class="chip-icon-btn">Print</a>
        </div>
      </div>

      <div class="col-12">
        <div class="posting-inner">
          <h4>Darkwave group seeks representation. <small>-  Berlin</small></h4>
          <div class="icon pt-1">
            <a href="#" class="text-warning"> <i class="fas fa-star"></i></a>
            <a href="#" class="text-primary"> <i class="fas fa-flag"></i></a>
            <a href="#" class="text-success"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-danger"> <i class="fas fa-trash"></i></a>
            <small class="pr-4">20-May-2021</small>
          </div>
          <img class="pt-3" src="assets/img/add5.jpg">
          <p class="pt-4">Hey there..</p>
          <p>We are a Berlin based collective and we have worked in different gothic and darkwave projects for over quite a few years and we are seeking Berlin based management for an upcoming project nearing recording completion.</p>
          <p>We are happy to discuss details and the music of this post speaks to you..</p>
          <p>Im not part of the “never finish the work & all talk”wave of musicians that’s aren’t actually “artists”..</p>
          <p>Im serious about the work and the future..</p>
          <p>If you want to get involved in something with potential for growth and marketing please reach out and let’s talk..</p>
          <p>Please be serious and committed to business as we are...</p>
          <p>Thank you...</p>

          <ul class="pt-2">
            <li>do NOT contact me with unsolicited services or offers.</li>
          </ul>
          <div class="pt-4">
            <small class="pr-4">Post id: 7311844073</small>
            <a class="chip-icon-btn mr-2">Reply</a>
            <a class="chip-icon-btn">Email to friend</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
