@import '/src/styles.scss';

.posting-detail{
  padding: 30px 0;
}

.posting-detail .print .chip-icon-btn{
  float: right;
  font-size: 13px;
  padding: 4px 17px;
}

.posting-detail .posting-inner h4{
  font-weight: 600;
}

.posting-detail .posting-inner small{
  font-size: 12px;
  color: #888888;
}

.posting-detail .posting-inner .icon a{
  font-size: 14px;
  padding-right: 10px;
  cursor: pointer;
}

.posting-detail .posting-inner img{
  width: 100%;
  height: auto;
}

.list-item-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  &:last-child {
    border-bottom: 0;
  }
}

.right-sec {
  padding-top: 90px;
}

.chips .badge {
  margin: 15px 10px 0 0;
  font-size: 15px;
  font-weight: 400;
}