<div class="posting-detail">
  <div class="container">
    <div class="row">

      <div class="col-12">
        <div class="print">
          <a class="chip-icon-btn" (click)="printComponent('postingDetail')">Print</a>
        </div>
      </div>

      <div class="col-12" id="postingDetail">
        <div class="posting-inner">
          <h4>{{data.postingTitle}} <small>-  Berlin</small></h4>
          <h4>{{data.price}}</h4>
          <div class="icon pt-1">
            <a href="#" class="text-warning"> <i class="fas fa-star"></i></a>
            <a href="#" class="text-primary"> <i class="fas fa-flag"></i></a>
            <a href="#" class="text-success"> <i class="fas fa-heart"></i></a>
            <a href="#" class="text-danger"> <i class="fas fa-trash"></i></a>
            <small class="pr-4">{{data.createdAt.toDate() | date: 'medium'}}</small>
          </div>
          <img class="pt-3" src="{{data.image}}">
          <p class="pt-4">{{data.description}}</p>
          <p>Thank you.</p>

          <ul class="pt-2">
            <li>Don't contact me with unsolicited services or offers.</li>
          </ul>

          <div class="pt-4" *ngIf="data.showMyNumber">
            <p>Contact Details:</p>
            <p class="py-2"><i class="far fa-user pr-3"></i> <strong>{{data.contactName}}</strong></p>
            <p><i class="fas fa-mobile-alt pr-3"></i> <strong>{{data.extension}} {{data.phoneNumber}}</strong></p>
          </div>

          <div class="pt-4">
            <small class="pr-4">Post id: <strong>{{data.id}}</strong></small>
            <a class="chip-icon-btn mr-2">Reply</a>
            <a class="chip-icon-btn">Email to friend</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
