.add-img {
    text-align: center;
    img {
      cursor: pointer;
      width: 50%;
      height: 350px;
      object-fit: cover;
      object-position: center;
      box-shadow: 0 0 10px #e7e7e7;
      border-radius: 25px;
    }
  }