<div class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header text-center"><a>Using Craigslist</a></div>
          <div class="card-body">
            <div class="item">
              <a>CL Help Pages</a>
              <p>Need assistance?</p>
            </div>
            <div class="item">
              <a class="pr-5">FAQ</a>
              <a>(Jobs FAQ)</a>
              <p>Frequently asked questions</p>
            </div>
            <div class="item">
              <a>Terms of use</a>
              <p>Please read carefully</p>
            </div>
            <div class="item">
              <a>Privacy policy</a>
              <p>User privacy info</p>
            </div>
            <div class="item">
              <a>Contact form</a>
              <p>Send us a note</p>
            </div>
            <div class="item">
              <a>CL Feedback forum</a>
              <p>Suggestion box</p>
            </div>
            <div class="item">
              <a>CL help desk forum</a>
              <p>Tips from experienced users</p>
            </div>
            <div class="item">
              <a>Avoiding Scams & Fraud</a>
              <p>Rule #1 is "deal locally"</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="card">
          <div class="card-header text-center"><a>About Craigslist</a></div>
          <div class="card-body">
            <div class="item">
              <a>CL Jobs</a>
              <p>We're hiring in SF</p>
            </div>
            <div class="item">
              <a class="pr-5">Jim</a>
              <a>Craig</a>
              <p>
                <span class="pr-5">CEO</span>
                <span>Founder</span>
              </p>
            </div>
            <div class="item">
              <a>Craigslist Blog</a>
              <p>Updates and etc</p>
            </div>
            <div class="item">
              <a>Best of craigslist</a>
              <p>Voted by 'readers like you'</p>
            </div>
            <div class="item">
              <a>24 Hours on craigslist</a>
              <p>Award-winning documentary</p>
            </div>
            <div class="item">
              <a>Charitable Fund</a>
              <p>Grants for 501(c)3 orgs/p>
            </div>
            <div class="item">
              <a>Open Source</a>
              <p>It gets better</p>
            </div>
            <div class="item">
              <a>Security kudos</a>
              <p>Responsible disclosures</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
