.rounded-btn {
    border: 1px solid $blue;
    padding: 6px;
    background: $default;
    padding: 5px 50px;
    // width: 170px;
    // height: auto;
    cursor: pointer;
    color: $white;
    border-radius: 50px;
    display: block;
    margin: auto;
    text-align: center;
}

.outline-btn {
  border: 1px solid $blue;
  padding: 6px;
  background: $white;
  padding: 5px 50px;
  // width: 170px;
  // height: auto;
  cursor: pointer;
  color: $blue;
  border-radius: 50px;
  display: block;
  margin: auto;
  text-align: center;
}

.chip-icon-btn {
  color: $white;
  font-size: 15px;
  border: 1px solid $blue;
  background: $default;
  border-radius: 20px;
  padding: 5px 15px;
  cursor: pointer;
  // width: 140px;
  // float: right;
  // display: flex;
  // justify-content: space-between;
  i {
    font-size: 15px;
    padding-right: 8px;
    color: $white;
    position: relative;
    top: 4px;
  }
}
