<div class="best-of-company">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="head">
          <h6>Before perusing best-of-craigslist postings below please note:</h6>
          <ul>
            <li>Postings are nominated by craigslist readers, and are not necessarily endorsed by craigslist staff</li>
            <li>Postings may be explicitly sexual, scatological, offensive, graphic, tasteless, and/or not funny</li>
            <li>If you see copyrighted material not original to craigslist, please let us know</li>
            <li>If you are under age 18, please use your 'back' button and seek parental guidance</li>
            <li>By continuing you release craigslist from any liability arising from your use of best-of-craigslist</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-bar">
      <app-search-bar></app-search-bar>
    </div>
    <div class="table-section">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">4 Dec 2020</th>
            <td>Jet Powered Volkswagen Beetle</td>
            <td>cars & trucks - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">12 Sep 2020</th>
            <td>IKEA Lamp</td>
            <td>furniture - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">29 Mar 2020</th>
            <td>Toilet paper seeds</td>
            <td>general for sale - by owner</td>
            <td>hartford</td>
          </tr>
          <tr>
            <th scope="row">4 Dec 2020</th>
            <td>Jet Powered Volkswagen Beetle</td>
            <td>cars & trucks - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">12 Sep 2020</th>
            <td>IKEA Lamp</td>
            <td>furniture - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">29 Mar 2020</th>
            <td>Toilet paper seeds</td>
            <td>general for sale - by owner</td>
            <td>hartford</td>
          </tr>
          <tr>
            <th scope="row">4 Dec 2020</th>
            <td>Jet Powered Volkswagen Beetle</td>
            <td>cars & trucks - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">12 Sep 2020</th>
            <td>IKEA Lamp</td>
            <td>furniture - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">29 Mar 2020</th>
            <td>Toilet paper seeds</td>
            <td>general for sale - by owner</td>
            <td>hartford</td>
          </tr>
          <tr>
            <th scope="row">4 Dec 2020</th>
            <td>Jet Powered Volkswagen Beetle</td>
            <td>cars & trucks - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">12 Sep 2020</th>
            <td>IKEA Lamp</td>
            <td>furniture - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">29 Mar 2020</th>
            <td>Toilet paper seeds</td>
            <td>general for sale - by owner</td>
            <td>hartford</td>
          </tr>
          <tr>
            <th scope="row">4 Dec 2020</th>
            <td>Jet Powered Volkswagen Beetle</td>
            <td>cars & trucks - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">12 Sep 2020</th>
            <td>IKEA Lamp</td>
            <td>furniture - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">29 Mar 2020</th>
            <td>Toilet paper seeds</td>
            <td>general for sale - by owner</td>
            <td>hartford</td>
          </tr>
          <tr>
            <th scope="row">4 Dec 2020</th>
            <td>Jet Powered Volkswagen Beetle</td>
            <td>cars & trucks - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">12 Sep 2020</th>
            <td>IKEA Lamp</td>
            <td>furniture - by owner</td>
            <td>SF bay area</td>
          </tr>
          <tr>
            <th scope="row">29 Mar 2020</th>
            <td>Toilet paper seeds</td>
            <td>general for sale - by owner</td>
            <td>hartford</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
