<div class="best-of-company">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="head">
          <h6>Before perusing best-of-craigslist postings below please note:</h6>
          <ul>
            <li>Postings are nominated by craigslist readers, and are not necessarily endorsed by craigslist staff</li>
            <li>Postings may be explicitly sexual, scatological, offensive, graphic, tasteless, and/or not funny</li>
            <li>If you see copyrighted material not original to craigslist, please let us know</li>
            <li>If you are under age 18, please use your 'back' button and seek parental guidance</li>
            <li>By continuing you release craigslist from any liability arising from your use of best-of-craigslist</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="search-bar">
      <app-search-bar (getQuery)="getSearchQuery($event)" placeHolder="Search Posting by Name"></app-search-bar>
    </div>
    <div class="table-section">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of data | searchFilter: searchText:'postingTitle'" (click)="viewDetailed(item)">
            <td>{{item.createdAt.toDate() | date: 'short'}}</td>
            <td>{{item.postingTitle}}</td>
            <td>{{categories && findCategory(item)}}</td>
            <td>{{item.cityNeighborhood}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
