<div class="view-posting">
  <form [formGroup]="viewPostingForm">
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-8 col-lg-6">
            <div class="form-row">
              <div class="form-group col-md-4">
                <select class="form-control" formControlName="categoryName">
                  <option selected>Rio De Janerio</option>
                  <option>Belo Horizonte</option>
                  <option>Sao Paulo</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <select class="form-control" formControlName="postingType">
                  <option selected>Community</option>
                  <option>Events</option>
                  <option>For Sale</option>
                  <option>Services</option>
                  <option>Jobs</option>
                  <option>Gigs</option>
                </select>
              </div>
              <div class="form-group col-md-4">
                <select class="form-control" formControlName="postingTypeAll">
                  <option selected>All</option>
                  <option>Activity Partners</option>
                  <option>Child Care</option>
                  <option>Lost & Found</option>
                  <option>Rants & Raves</option>
                  <option>Volunteers</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4 col-lg-6">
            <div class="form-row">
              <div class="form-group">
                <select class="form-control" formControlName="accountPost">
                  <option selected>Account</option>
                  <option>Post</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="view-posting-content">
      <div class="container">

        <div class="row">
          <div class="col-12 col-md-4 col-lg-3">
            <div class="category">
              <a href="#">Community</a>

              <div class="show-category pt-3">
                <a href="#"><i class="fas fa-plus"></i> Show 14 Categories</a>

                <div class="form-check pt-2" *ngFor="let item of categories">
                  <input class="form-check-input" type="checkbox" [value]="item.id" formControlName="categories">
                  <label class="form-check-label" for="flexCheckChecked">
                    {{item.name}}
                  </label>
                </div>

                <div class="pt-4">
                  <a href="#"><i class="fas fa-play"></i> Carshare Type</a>
                  <div class="form-check pt-2">
                    <input class="form-check-input" type="checkbox" value="" formControlName="type">
                    <label class="form-check-label" for="flexCheckChecked">
                      Journey offered
                    </label>
                  </div>
                  <div class="form-check pt-2">
                    <input class="form-check-input" type="checkbox" value="">
                    <label class="form-check-label" for="flexCheckChecked">
                      Journey offered
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-8 col-lg-9">
            <app-search-bar></app-search-bar>

            <div class="posting-inner">
              <div class="col-12">
                <div class="row">
                  <div class="col-6 col-lg-4">
                    <div class="form-group">
                      <select class="form-control" (change)="onChangeViewType($event)">
                        <option value="list">List</option>
                        <option value="thumb" selected>Thumb</option>
                      </select>
                    </div>
                  </div>

                  <div class="col-6 col-lg-8">
                    <a class="chip-icon-btn">Newest</a>
                  </div>
                </div>
              </div>

              <div class="adds" *ngIf="viewType == 'thumb'">
                <div class="col-12">
                  <div class="row">
                    <div class="col-12 col-md-6 col-lg-4" *ngFor="let item of data">
                      <div class="adds-inner pt-3">
                        <div class="card" routerLink="/posting/posting-detail">
                          <img class="card-img-top" src={{item.image}}>
                          <div class="card-body">
                            <h5 class="card-title">{{item.postingTitle}}</h5>
                            <p><small>${{item.price}}</small></p>
                            <p>
                              <i class="far fa-star"></i>
                              <span>{{item.createdAt.toDate() | date : 'shortDate'}} - </span>
                              <span>{{item.cityNeighborhood}}</span>
                            </p>
                            <a class="chip-icon-btn mini-btn">Delete</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="full-card" *ngIf="viewType == 'list'">
                <div class="col-12" *ngFor="let item of data">
                  <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                      <div class="adds-inner pt-3">
                        <div class="card" routerLink="/posting/posting-detail">
                        <div class="row">
                          <div class="col-4 col-md-5 col-lg-3">
                            <img class="card-img-top" src={{item.image}}>
                          </div>
                          <div class="col-8 col-md-7 col-lg-9">
                            <div class="card-body">
                              <h5 class="card-title">{{item.postingTitle}}</h5>
                              <p>
                                <i class="far fa-star"></i>
                                <span>{{item.createdAt.toDate() | date : 'shortDate'}} - </span>
                                <span>{{item.cityNeighborhood}}</span>
                              </p>
                              <a class="chip-icon-btn mini-btn">Delete</a>
                            </div>
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
