<div class="view-posting">
  <div class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 col-lg-6">
          <div class="form-row">
            <div class="form-group col-md-4">
              <select class="form-control">
                <option selected>Rio De Janerio</option>
                <option>Belo Horizonte</option>
                <option>Sao Paulo</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control">
                <option selected>Community</option>
                <option>Events</option>
                <option>For Sale</option>
                <option>Services</option>
                <option>Jobs</option>
                <option>Gigs</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <select class="form-control">
                <option selected>All</option>
                <option>Activity Partners</option>
                <option>Child Care</option>
                <option>Lost & Found</option>
                <option>Rants & Raves</option>
                <option>Volunteers</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
          <div class="form-row">
            <div class="form-group
            col-md-4">
              <select class="form-control">
                <option selected>Account</option>
                <option>Post</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="view-posting-content">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-8">
          <div class="category">
            <a href="#">Community</a>

          </div>
        </div>
        <div class="col-12 col-md-4 col-lg-8">

        </div>
      </div>
    </div>
  </div>
</div>
