<div class="privacy-policy">
  <div class="container">
    <div class="top-bar">
      <div class="row">
        <div class="col-12">
            <div class="heading">
              <h3>
                Craigslist Privacy Policy
                <span>updated September 15, 2020</span>
              </h3>
            </div>
            <div class="btns">
              <a class="chip-icon-btn mr-2">Terms of use</a>
              <a class="chip-icon-btn">Feedback</a>
            </div>
        </div>
        <div class="col-12">
          <div class="sub-head">
            <p>This policy details how data about you is used when you access our websites and services, including via our mobile applications (together, "CL") or interact with us. If we update it, we will revise the date, place notices on CL if changes are material, and/or obtain your consent as required by law.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="list-content">
      <div class="row">
        <div class="col-12">
          <h6 class="heading">1. Protecting your privacy</h6>
          <ul>
            <li><p class="sub-text">We take precautions to prevent unauthorized access to or misuse of data about you.</p></li>
            <li><p class="sub-text">We do not run ads, other than the classifieds posted by our users.</p></li>
            <li><p class="sub-text">We do not share your data with third parties for marketing purposes.</p></li>
            <li><p class="sub-text">We do not engage in cross-marketing or link-referral programs.</p></li>
            <li><p class="sub-text">We do not employ tracking devices for marketing purposes.</p></li>
            <li><p class="sub-text">We do not send you unsolicited communications for marketing purposes.</p></li>
            <li><p class="sub-text">We do not engage in affiliate marketing (and prohibit it on CL).</p></li>
            <li><p class="sub-text">We do provide email proxy & relay services to reduce unwanted email.</p></li>
            <li><p class="sub-text">Please review privacy policies of any third party sites linked to from CL.</p></li>
            <li><p class="sub-text">We do not respond to "Do Not Track" signals (see allaboutdnt.com).</p></li>
          </ul>

          <h6 class="heading">2. Data we collect, use and disclose:</h6>
          <p class="sub-head">Below is a list of all the types of data we have collected in the last 12 months, where we got it, why we collected it and the categories of third parties to whom we disclosed it. We do not sell your data to third parties. Please note that disclosure to "Payment processors" applies when you pay for a craigslist post using a credit card.</p>
          <table class="table table-bordered mt-3">
            <thead>
              <tr>
                <th>Data type</th>
                <th>Where got it</th>
                <th>Why collected</th>
                <th>Disclosed to</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>First and last name</td>
                <td>User entry</td>
                <td>Facilitating transactions and personalizing your use of CL</td>
                <td>Payment processors</td>
              </tr>
              <tr>
                <td>Email address</td>
                <td>User entry</td>
                <td>Account creation, user-to-user and CL-to-user communications and combatting fraud/abuse</td>
                <td>No one</td>
              </tr>
              <tr>
                <td>Phone number</td>
                <td>User entry</td>
                <td>User-to-user communications, combatting fraud/abuse, personalizing your use of CL</td>
                <td>Payment processors and phone verification service providers</td>
              </tr>
              <tr>
                <td>Credit card data</td>
                <td>User entry</td>
                <td>Facilitating your transactions</td>
                <td>Payment processors</td>
              </tr>
              <tr>
                <td>Geographic location (latitude and longitude)</td>
                <td>User entry, IP/geolocation providers</td>
                <td>Personalizing your use of CL and combatting fraud/abuse</td>
                <td>No one</td>
              </tr>
              <tr>
                <td>Photos and other data you voluntarily provide, post on or send via CL</td>
                <td>User entry</td>
                <td>Facilitating and personalizing your use of CL</td>
                <td>No one</td>
              </tr>
              <tr>
                <td>Saved searches, account preferences, favorite/hidden postings</td>
                <td>User entry</td>
                <td>Facilitating and personalizing your use of CL</td>
                <td>No one</td>
              </tr>
              <tr>
                <td>HTTP browser cookie</td>
                <td>User's browser, CL web server</td>
                <td>Facilitating and personalizing your use of CL and combatting fraud/abuse</td>
                <td>No one</td>
              </tr>
            </tbody>
          </table>

          <h6 class="heading">3. We may share some or all of the above listed data in the following circumstances:</h6>
          <ul>
            <li><p class="sub-text">To respond to subpoenas, search warrants, court orders, or other legal process.</p></li>
            <li><p class="sub-text">To protect the rights, property, or safety of CL users, CL, or the general public.</p></li>
            <li><p class="sub-text">At your direction (e.g. if you authorize us to share data with other users).</p></li>
            <li><p class="sub-text">In connection with a merger, bankruptcy, or sale/transfer of assets.</p></li>
          </ul>

          <h6 class="heading">4. Data we store</h6>
          <ul>
            <li><p class="sub-text">We retain data as needed to facilitate and personalize your use of CL, combat fraud/abuse and/or as required by law.</p></li>
            <li><p class="sub-text">We make good faith efforts to store data securely, but can make no guarantees.</p></li>
            <li><p class="sub-text">You may access and update certain data about you via your account login.</p></li>
          </ul>

          <h6 class="heading">5. International Users</h6>
          <p class="sub-head">By accessing CL or providing us data, you agree we may use and disclose data we collect as described here or as communicated to you, transmit it outside your resident jurisdiction, and store it on servers in the United States. For more information please contact our privacy officer at privacy@craigslist.org .</p>

          <h6 class="heading">6. Contact</h6>
          <p class="sub-head">If you have any questions or concerns about CL's privacy policy and practices please email privacy@craigslist.org .</p>
        </div>
      </div>
    </div>
  </div>
</div>
