<div class="add-posting-type">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="add-posting">
          <p><strong>Please choose a category: </strong>(see <a>Prohibited</a> list before posting.)</p>
          <div class="choose-add-posting">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option1">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option2">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option3">
              <label class="form-check-label">
                Housing wanted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option4">
              <label class="form-check-label">
                Event
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option5">
              <label class="form-check-label">
               Community
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option6">
              <label class="form-check-label">
                Default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option7">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option8">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option9">
              <label class="form-check-label">
                Housing wanted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option10">
              <label class="form-check-label">
                Event
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option11">
              <label class="form-check-label">
               Community
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option12">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option13">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option14">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="posting_type" value="option15">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="next-btn">
              <a class="rounded-btn" routerLink="/posting/create-posting">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
