<div class="add-posting-type">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="add-posting">
          <p><strong>Please choose a category: </strong>(see <a href="#">Prohibited</a> list before posting.)</p>
          <div class="choose-posting-type">
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Housing wanted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Event
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
               Community
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Default radio
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Housing wanted
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Event
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
               Community
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Job offered
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio">
              <label class="form-check-label">
                Housing offered
              </label>
            </div>
            <div class="next-btn">
              <a class="rounded-btn" routerLink="/posting/create-posting">Next</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
